* {
  margin: 0 !important;
  color: #0B6D66;
}

body {
  background-color: #F5F5F5;
  color: #0B6D66;
}

h2, h3, i {
  color: #0B6D66;
}

.button-1 {
  background-color: #1fad95;
  
}

.button-1-color {
  color: #F5F5F5;
}