<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CovidPass-verifier</title>

  <!-- PrimeVue -->
  <link href="https://unpkg.com/primevue@^3/resources/themes/lara-light-teal/theme.css" rel="stylesheet" />
  <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeflex@^3/primeflex.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

  <!-- Dependencies -->
  <script src="https://unpkg.com/vue@next/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/image/image.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Demo -->
  <script src="https://unpkg.com/primevue@^3/card/card.min.js"></script>

  <!-- Css -->
  <link type="text/css" href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    
  <div id="app">
    <div class="flex align-content-start justify-content-center h-screen p-5">
      <div class="flex align-items-center card">
        <p-card class="p-5 bg-primary-reverse">
          <template #header>
            <div class="flex justify-content-center">
              <p-image src="/static/img/ADOPSIO-COVIDPASS-Logo.png"></p-image>
            </div>
          </template>

          <template #title>
            <div class="flex justify-content-center">
              <h3>Welcome to covidpass.</h3>
            </div>
          </template>

          <template #subtitle>
            <div class="flex justify-content-center pt-2">
              <h3>Verifier</h3>
            </div>
          </template>

          <template #content>
            <div class="flex justify-content-center">
              <p-button
                @click="login"
                class="button-1 p-button-lg"
              >
                <i class="pi pi-google button-1-color" style="font-size: 2rem"></i>
                <span class="ml-1 font-bold button-1-color">Sign in</span>
              </p-button>
            </div>
        </template>
        </p-card>
      </div>
    </div>
  </div>

  <script type="module">
    const { createApp } = Vue;
    const url = "{{ root_url }}"

    const App = {
      components: {
        "p-card": primevue.card,
        "p-button": primevue.button,
        "p-image": primevue.image
      },
      methods: {
        login() {
          window.location.replace('/authorization')
        },
      },
    };

    createApp(App)
      .use(primevue.config.default)
      .mount("#app");
  </script>
</body>
</html>