<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CovidPass-verifier</title>

  <!-- PrimeVue -->
  <link href="https://unpkg.com/primevue@^3/resources/themes/lara-light-teal/theme.css" rel="stylesheet" />
  <link href="https://unpkg.com/primevue@^3/resources/primevue.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeflex@^3/primeflex.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />

  <!-- Dependencies -->
  <script src="https://unpkg.com/vue@next/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/primevue@^3/core/core.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Demo -->
  <script src="https://unpkg.com/primevue@^3/datatable/datatable.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/column/column.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/selectbutton/selectbutton.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/checkbox/checkbox.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/toast/toast.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/toastservice/toastservice.min.js"></script>
  <script src="https://unpkg.com/primevue@^3/sidebar/sidebar.min.js"></script>

  <!-- Css -->
  <link type="text/css" href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
  <div id="app">
    <p-toast></p-toast>
    <div class="grid card p-3 bg-primary-reverse align-items-center">
      <div class="col-6 md:col-6 lg:col-6 pl-3">
        <div class="flex justify-content-start">
          <img
            src="/static/img/ADOPSIO-COVIDPASS-LogoFull.png"
            alt="COVIDPASS Logo"
          />
        </div>
      </div>
      
      <div class="col-6 md:col-6 lg:col-6 pr-3">
        <div class="flex justify-content-end">
          <p-button
            type="button"
            @click="logout"
            class="p-button-text p-button-lg"
          >
            <i class="pi pi-sign-out" style="font-size: 1.8rem"></i>
            <span class="ml-2 font-bold">Sign out</span>
          </p-button>
        </div>
      </div>
    </div>

    <div class="grid m-3 justify-content-center">
      <div class="col-12 md:col-8 lg:col-7">
        <div class="card bg-primary-reverse border-round p-3">
          <div class="flex align-items-center justify-content-start p-3">
            <i class="pi pi-file pr-2" style="font-size: 2rem"></i>
            <h2>Logs</h2>
          </div>
          <p-datatable 
            :value="logs" :paginator="true" :rows="10"
            :resizable-columns="true" column-resize-mode="fit"
            paginator-template="CurrentPageReport PrevPageLink NextPageLink RowsPerPageDropdown"
            :rows-per-page-options="[10,20,50]" responsive-layout="scroll"
            current-page-report-template="{first}-{last} of {totalRecords}"
            class="pb-4 pr-4 pl-4"
          >
            
            <column
              field="time_stamp"
              header="Time-stamp"
              :sortable="true"
              style="width: 25%; min-width: 5rem"
            ></column>

            <column
              field="verify"
              header="Verify"
              :sortable="true"
              style="width: 20%; min-width: 5rem"
            ></column>

            <column
              field="attributes"
              header="Attributes"
              :sortable="true"
              style="width: 55%; min-width: 26rem"
            ></column>

          </p-datatable>
        </div>
      </div>

      <div class="col-9 md:col-4 lg:col-3" style="width: 24rem">
        <div class="card bg-primary-reverse p-5 border-round">
          <div class="flex align-items-center justify-content-start mb-2">
            <i class="pi pi-server pr-2" style="font-size: 2rem"></i>
            <h2>Manage server</h2>
          </div>

          <div class="p-3">
            <div class="flex align-items-center justify-content-start mb-2">
              <p-selectbutton v-model="serverValue" :options="serverOptions"></p-selectbutton>
              <span class="ml-2">Server control</span>
            </div>
              
            <div class="flex align-items-center justify-content-start">
              <p-button
                icon="pi pi-tag"
                @click="visibleSidebar = true"
                class="p-button-text p-button-rounded"
              >
                <i class="pi pi-tags" style="font-size: 1.8rem"></i>
              </p-button>
              <span class="ml-2">Attribute selection</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-sidebar v-model:visible="visibleSidebar" position="right">
      <div class="p-1">
        <h3>Attributes</h3>
      </div>

      <div 
        v-for="attr of attributes"
        :key="attr.key"
        class="field-checkbox p-2"
      >
        <p-checkbox
          :id="attr.key"
          name="attr"
          :value="attr"
          trueValue="attr.status"
          v-model="selectedAttrs"
          class="mr-1"
        ></p-checkbox>
        <label :for="attr.key">[[ attr.name ]]</label>
      </div>
      <p-button
        label="Save"
        icon="pi pi-save"
        @click="saveAttributes"
        class="p-button-rounded p-button-text p-button-lg"
      ></p-button>
      </p-button>
    </p-sidebar>
  </div>

  <script type="module">
    const { createApp } = Vue;
    const BASE_URL = "{{ root_url }}"

    const App = {
      delimiters: ['[[', ']]'],
      components: {
        "p-datatable": primevue.datatable,
        "column": primevue.column,
        "p-button": primevue.button,
        "p-selectbutton": primevue.selectbutton,
        "p-checkbox": primevue.checkbox,
        "p-toast": primevue.toast,
        "p-sidebar": primevue.sidebar,
      },
      data() {
        return {
          logs: null,
          serverValue: null,
          serverOptions: [ "On", "Off" ],
          visibleSidebar: false,
          attributes: [],
          selectedAttrs: []
        };
      },
      mounted() {
        this.statusService();
        this.fetchLogs();
        this.fetchAttributes();
      },
      watch: {
        serverValue(newValue, oldValue) {
          this.controlServer(newValue);
        },
      },
      methods: {
        fetchLogs() {
          axios.get("/fetch_logs").then((resp) => {
            this.logs = resp.data;
          });
        },
        fetchAttributes() {
          axios.get(BASE_URL + "/fetch_attributes").then((resp) => {
            this.attributes = resp.data.data;
            if (this.attributes.length !== 0) {
              this.selectedAttrs = this.attributes.filter(x => x.status === true);
            };
          });
        },
        saveAttributes() {
          const outputObject = this.attributes.reduce((acc, curr) => {
            const stored = this.selectedAttrs.find(({key}) => key === curr.key);
            if (stored) {
              stored.status = true;
              acc.push(stored);
            } else {
              curr.status = false;
              acc.push(curr);
            }
            return acc;
          }, []);

          axios.post(BASE_URL + "/save_attributes", outputObject)
            .then((resp) => {
              if (resp.data.status === true) {
                this.$toast.add({
                  severity: "success",
                  summary: "Save selected attributes.",
                  life: 3000
                });
                this.visibleSidebar = false;
              };
            });
        },
        controlServer(newValue) {
          axios.post(BASE_URL + "/service_control", {"action": newValue})
            .then((resp) => {
              if (resp.data.status === true) {
                if (resp.data.start === true) {
                  this.$toast.add({
                    severity: "success",
                    summary: "The server is running.",
                    life: 3000
                  });
                } else {
                  this.$toast.add({
                    severity: "success",
                    summary: "The server is down.",
                    life: 3000
                  });
                };
              } else {
                this.$toast.add({
                  severity: "error",
                  summary: "Server error",
                  details: "An error has occurred, please try again.",
                  life: 3000
                });
              };
            });
        },
        statusService() {
          axios.get("/service_status").then(async (resp) => {
            if (await resp.data.active === true) {
              this.serverValue = "On"
            } else {
              this.serverValue = "Off"
            };
          });
        },
        logout() {
          window.location.replace('/logout')
        },
      },
    };
    createApp(App)
      .use(primevue.config.default)
      .use(primevue.toastservice)
      .mount("#app");
</script>

</body>
</html>